<div class="container">

    <div ng-include="'views/admin/header.html'"></div>
    <div class="select-date-wrapper">
         <select class="form-control" ng-model="selectedYear" ng-change="changeYear()" ng-options="year for year in years">
         </select>
    </div>
    <div class="row month-selector text-center">
    <div ng-repeat="i in showMonth" scroll-on-click target="{{getMonthPosition(i)}}" ng-click="getMonthNumber(i)"
         class="col-lg-10 col-xs-12 col-md-1 month">{{i | monthName}}
    </div>
</div>



<div class="swipe-calendar row">
    <div class="col-md-2 employees">

        <div class="employee-filter">
            <input class="form-control" placeholder="filter employees" ng-model="employeeFilter" />
        </div>

        <div class="col-md-12 employee-list">
            <span class="swipe-calendar-header" style="margin-bottom: 3px;">
                Сотрудник
            </span>

            <div ng-repeat="user in usersList | filter:employeeFilter" style="margin-top: 3px; min-height: 22px; font-size:10px; text-align: right;">
                <a  ng-click="showUserHistory(user.id)" href="">{{(user.first_name && user.last_name) ? user.first_name+' '+user.last_name   : user.email }}</a>
            </div>
        </div>
    </div>
    <!--<div scroll-mouth horizontal-scroll start-position="{{baseConfig.month}}" class="swipe-area">-->
    <div start-position="{{baseConfig.month}}" class="swipe-area">
        <div ng-repeat="i in selectMonth" class="month-wrapper" mouth-width id="month-{{ i }}">

            <div class="scrolls" width-load>
                <strong>{{i|monthName}}</strong>

                <div class="days-wrapper">
                    <div class="day" ng-repeat="day in baseConfig.daysRange(baseConfig.days(selectedYear, i))" ng-if="!($parent.$index==0 && $index<20 || $parent.$index==2 && $index>9)">
                      <span ng-if="!($parent.$index !=1 && (i == 1 || i == 12))">
                          <span class="week-day">
                            {{baseConfig.getDay(day, selectedYear, i)|dayName}}
                          </span>
                          {{::day}}
                      </span>
                      <span ng-if="$parent.$index !=1 && i==1">
                          <span class="week-day">
                            {{baseConfig.getDay(day, selectedYear, i)|dayName}}
                          </span>
                          {{::day}}
                      </span>
                      <span ng-if="$parent.$index !=1 && i==12">
                          <span class="week-day">
                            {{baseConfig.getDay(day, selectedYear-1, i)|dayName}}
                          </span>
                          {{::day}}
                      </span>
                    </div>
                </div>
            </div>

            <div ng-if="!isEmpty(vacationsByUser)" class="ranges-wrapper" width-load>
                <div  class="range" ng-repeat="vac in vacationsByUser" ng-if="customEmployeeFilter(vac[i])" data-test="{{ vac[i] }}">
                    <section ng-repeat="curVac in vac[i]">

                        <div  ng-show="show_range(curVac.date_start, i)"
                              popovers-range
                              test="{{i}}"
                              data-toggle="popover"
                              data-placement="bottom"
                              data-content="<strong>Период:</strong> {{curVac.date_start|date:'dd.MM.y'}} - {{curVac.date_end|date:'dd.MM.y'}} <br/> <strong>Статус: </strong> {{ showState(curVac.state) }}"
                              acception-state="{{curVac.state}}"
                              data-vac="{{::curVac.id}}"
                              data-month="{{curVac.month[0]}}"
                              class="range-line tooltips popovers "
                              start="{{curVac.date_start}}"
                              end="{{curVac.date_end}}"
                              ng-click="openVacationParameters(curVac)"
                              ng-if="vacationOldEnough(curVac)"
                        ></div>

                    </section>
                </div>
            </div>
            <div ng-if="isEmpty(vacationsByUser)">
                <h6 class="text-center">No vacations</h6>
            </div>
        </div>
    </div>
</div>


<div style="clear: both"></div>
</div>