
<div class="container">

    <div ng-include="'views/manager/header.html'"></div>
</div>

<div class="container settings" ng-show="current_user.group_code == 2 ">
    <p>У менеджеров нет настроек.</p>
</div>