@import "bootstrap/colors";

// font colors
$primary-font-color: $gray-lighter;
$heading-font-color: $gray-lighter;
$secondary-font-color: $gray-light;

// sentiment colors
$light-green: #C4E593;
$dark-green: #80C41C;
$light-red: #f88;
$dark-red: #C42F20;
$yellow: yellow;
$white: white;