//@import "bootstrap/theme";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
//@import "bootstrap.min";
//@import "fashion";     Duplicate styles
//$fa-font-path: "../bower_components/font-awesome/fonts";
//@import "font-awesome/scss/font-awesome";
@import "sc_colors";
@import "authorization";
@import "profile";
@import "user-main";
@import "datepicker";
@import "route-animations";
@import "calendar";
@import "swipe";
@import "datepicker";

body {
	background-color: #303F9F;
	font-family: 'Roboto', sans-serif;
}

.range-control {
	margin-bottom: 10px;
	color: #fff;
	padding-top: 15px;

	a {
		color: #fff;
	}
}

.admin-header {
	.range-control {
		height: 65px;
	}
}

.error {
	border: 1px solid #FF5722 !important;
	padding: 7px !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}

.admin-email input {
	background: none;
}

.exit-button {
	float: right;
	margin-left: 15px;
}

.alert {
	padding: 5px !important;
}

.position {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.popover {
	width: 232px !important;
}

.exit-button:hover {
	border: 0 !important;
}

input.form-control,
textarea {
	padding-left: 10px !important;
	max-width: 100%;
}

textarea {
	max-height: 150px;
}

a.navbar-brand {
	font-size: 22pt;
}

.fa-sun-o {
	color: #FFC107;
}

.fashion-bg {
	position: absolute;
	background-color: #3F51B5;
	min-width: 100%;
	min-height: 70px;
	z-index: -999;

}

.main {
	font-size: 10pt;

	a {
		//color: #536DFE;
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
	}
}


.year-control {
	margin-top: 5px;
}

.month-control {
	border-bottom: 3px solid #009688;
}

.year-fix {
	font-size: 18pt;
}

.sort-calendar {
	background-color: #fff;
	font-stretch: condensed;
	font-weight: 200;
	border: 4px solid #B2DFDB;
	border-bottom: none;
	padding: 5px;
	text-align: center;
	font-size: 12pt;
}

.settings {
	background-color: #fff;
	font-stretch: condensed;
	font-weight: 200;
	border: 4px solid #B2DFDB;
	padding: 5px;
	font-size: 12pt;
	box-shadow: 0 4px 0 0 rgba(29, 38, 95, 0.75);
}

.date-pick i {
	transition: color 2s;
}

.date-pick i:hover {
	color: #009688;
	margin-bottom: 5px;
}

.table-calendar a {
	font-size: 10pt;
	text-decoration: none;
}

.table-calendar {
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	border: 2px solid #e1e1e1;
	border-top: none;
}

.nav-text {
	font-size: 12pt;
	transition: border 1s;
	margin-bottom: 5px;

	&:hover {
		border-bottom: 3px solid #303F9F;
	}
}

.nav-list {

	span + span > a {
		text-transform: uppercase;
	}

	.nav-text {
		display: inline-block;
		margin-left: 10px;
		height: 33px;

		a {
			display: block;
			padding: 5px;
		}

		.user-email {
			text-transform: none;
		}
	}

	.exit-button a {
		padding: 3px 15px;
	}
}


.date-pick {
	font-size: 14pt;
	padding: 0;
}

footer {
	color: #fff;
	background-color: rgba(29, 38, 95, 0.75);
}

footer a {
	color: #fff;

}

footer a:hover {
	color: #fff;
	text-decoration: none;
}

div.link_back {
	background-color: #536DFE;
	opacity: 0.7;
	display: inline-block;
	padding: 5px;
	width: 100px;
	text-align: center;
	margin: 10px 0 0 10px;
	color: #fff;
}

div.link_back a {
	font-size: 10pt;
	color: #fff;
}

.new-mail {
	width: 85%;
	margin: 0 auto;
	padding: 15px
}

.settings-input {
	background-color: #fff;
	margin-bottom: 5px;
}

span i.fa-times {
	color: tomato;
}

.disable_tr {
	background-color: #e7e7e7;
}

.comment-div {
	padding: 5px;
	background-color: #e1e1e8;
	margin-bottom: 10px;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tooltip-inner {
	background-color: #536DFE;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #536DFE;
}

.tooltip {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.comment {
	resize: none;
}

.textcom {
	word-break: break-word;
}

.textareacom {
	display: block;
	width: 273px;
	word-break: break-all;
}

.container-vac {
	background-color: #fff;
	border: 4px solid #B2DFDB;
	padding: 10px;
}

.error_messages {
	color: #f3242e;
}

.success_message {
	color: #449d44;
}

.logo {
	width: 290px;
	float: left;

	.navbar-brand {
		padding: 0;
		text-transform: capitalize;
	}
}

.header-nav-list {
	margin-left: 320px;
	text-align: right;
}

.select-date-wrapper .form-control {
	margin-bottom: 20px;
	color: #000;
	padding-left: 10px;
	width: auto;
}






/*** MEDIA QUERIES ***/
@media (min-width: 1200px) {
	.container-vac {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
