<div class="container">
   <div ng-include src="'views/admin/header.html'"></div>
</div>
<div class="jumbotron">

   <div class="container edit">
      <h4>Ваши данные:</h4>

      <form name="myForm" ng-submit="updateUser(myForm.$valid)" validate-profile id="ProfileForm"
            enctype="multipart/form-data">
         <div class="form-group">
            <label for="first_name">Имя</label>
            <input id="first_name" ng-model="first_name" name="first_name" placeholder="Фамилия..." type="text"
                   class="datepicker-input form-control" required maxlength="30">
         </div>
         <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input id="last_name" ng-model="last_name" name="last_name" placeholder="Имя..." type="text"
                   class="datepicker-input form-control" required maxlength="30">
         </div>

         <div class="form-group">
            <label>Email</label>
            <input type="email" name="newEmail" ng-model="newEmail" class="datepicker-input form-control"
                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required
                   placeholder="Email...">
         </div>
         <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg dispatch" ng-disabled="myForm.$pristine">Отправить</button>
         </div>
      </form>
   </div>
</div>
</div>

</div>
