<div class="main admin-header" ng-controller="AdminHeaderCtrl">
   <div class="range-control">
      <div class='logo'>
         <a class="navbar-brand" href="#/admin/">
            <i class="fa fa-sun-o"></i> vacation control
         </a>
      </div>

      <div class="nav-list header-nav-list">
         <span class="nav-text">
            <a href="#/admin/edit/">{{ user.first_name }} | {{user.email}}</a>
         </span>
         <span class="nav-text">
            <a href="#/admin/">ЗАЯВКИ</a>
         </span>
         <span class="nav-text" ng-show="user.group_code == 2 ">
            <a class="list" href="#/admin/vacation">ПОДАТЬ ЗАЯВКУ</a>
         </span>
         <span class="nav-text">
            <a class="list" href="#/admin/list">СПИСОК</a>
         </span>
         <span class="nav-text">
            <a href="#/admin/settings">НАСТРОЙКИ</a>
         </span>
         <span class="nav-text exit-button">
            <a href="javascript:void(0)" ng-click="logout()" class="exit" id="admin-exit">ВЫЙТИ</a>
         </span>
      </div>

   </div>

   <div ng-hide='loaded'>
      <div id="loader-wrapper">
         <div id="loader"></div>
      </div>

   </div>


</div>