<div class="container" ng-controller="UserHistoryController">
   <h4>История отпусковzxZScdzsc:</h4>

   <table class="table table-bordered">
      <tr>
         <th>Период</th>
         <th>Статус</th>
         <th>Комментарий</th>
      </tr>
      <tr ng-repeat="vac in userHistory">
         <td>
            {{prettyDate(vac.days[0][0], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
              -
            {{prettyDate(vac.days[0][vac.days[0].length-1], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
         </td>
         <td>
            {{showState(vac.acceptionState)}}
         </td>
         <td>
            {{vac.adminComment || 'Пока не прокомментировали'}}
         </td>
      </tr>
   </table>

</div>