<div class="container">
   <div ng-include="'views/admin/header.html'"></div>
</div>
<div class="container settings">

   <h4>История отпусков:</h4>

   <table class="table table-bordered table-striped">
      <tr>
         <th>
            Сотрудник
            <i class="fa" aria-hidden="true" ng-click="sortBy('user.email')" ng-class="getSortIcon('user.email')"></i>
         </th>
         <th>
            Период
            <i class="fa" aria-hidden="true" ng-click="sortBy('date_end')" ng-class="getSortIcon('date_end')"></i>
         </th>
         <th>
            Кол-во дней
            <i class="fa" aria-hidden="true" ng-click="sortBy('diff_days')" ng-class="getSortIcon('diff_days')"></i>

         </th>
         <th>
            Статус
            <i class="fa" aria-hidden="true" ng-click="sortBy('state')" ng-class="getSortIcon('state')"></i>
         </th>
      </tr>
      <tr ng-repeat="vac in vacations | orderBy:propertyName:reverse">
         <td>
            {{
                (vac.user.first_name && vac.user.last_name) ? vac.user.first_name+' '+vac.user.last_name : vac.user.email
            }}
         </td>
         <td>
            {{ vac.date_start }}
             -
            {{ vac.date_end }}
         </td>

         <td>
            {{ vac.diff_days }}
         </td>
         <td>
            {{ stateToText(vac.state) }}
         </td>
      </tr>
   </table>
   <nav>
      <ul class="pager">
         <li><a href="" ng-click="page('prev')" ng-model="prev" ng-show="prev!=''" data-page="{{ prev }}">Предыдущая
            страница</a></li>
         <li><a href="" ng-click="page('next')" ng-model="next" ng-show="next!=''" data-page="{{ next }}">Следущая
            страница</a></li>
      </ul>
   </nav>
</div>