<div class="container">
    <div ng-include="'views/admin/header.html'"></div>
    </div>
<div class="container-vac container" style="background-color: #fff; border: 4px solid #B2DFDB; padding: 10px;">

    <form name="vacationForm" ng-submit="showResult()">
        <div class="text-center">
            <h4>Новая заявка</h4>
        </div>

        <div class="new-vacation-div">
            <input class="datepicker-input form-control startInput" placeholder = "Начало" type="text" date-time ng-model="range.start" required="true" min-view="date" view="date">
        </div>

        <div class="new-vacation-div">
            <input class="datepicker-input form-control endInput"  placeholder = "Конец" type="text" date-time ng-model="range.end" required="true" min-view="date"  view="date">
        </div>

        <div class="new-vacation-div">
            <textarea placeholder="Комментарий" class="form-control datepicker-input" ng-model="vacation.comment"></textarea>
        </div>

        <div ng-show="errors.length > 0" class="error_messages text-center">
            <h5 style="color: tomato;" ng-repeat="error in errors">{{error}}</h5>
        </div>

        <div class="text-center">
            <button ng-disabled="SubmitForm" id="addVac" type="submit" class="btn btn-success btn-lg">Отправить</button>
        </div>
    </form>


</div>



