<h4>{{vac.user}}</h4>
<table class="table table-condensed">
   <tr>
      <td><strong>Сотрудник:</strong></td>
      <td>{{vac.user}}</td>
   </tr>

   <tr>
      <td><strong>Период:</strong>
      <td>

         <div ng-if=" vac.month[1]!=null">

            {{defineRangeFromData(vac.days, vac.month, vac.year)}}

         </div>

         <div ng-if=" vac.month[1]==null">

            {{::prettyDate(vac.days[0][0], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
               -
            {{::prettyDate(vac.days[0][vac.days[0].length-1], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}

         </div>

   </tr>
   <tr>
      <td>
         <strong>Причина:</strong>
      </td>
      <td>
         {{vac.comment}}
      </td>
   </tr>

   <tr>
      <td><strong>Текущий статус:</strong></td>
      <td>{{showState(vac.acceptionState)}}</td>
   </tr>

   <tr ng-if="vac.adminComment !== null">
      <td><strong>Комментарий:</strong></td>
      <td>{{vac.adminComment}}</td>
   </tr>
</table>


<div class="comment-div">
   <strong>
      <span ng-if="vac.adminComment == null">Комментировать</span>
      <span ng-if="vac.adminComment !== null">Изменить комментарий</span>

      <i ng-click="comment = !comment" ng-class="{'fa-caret-down': !comment, 'fa-caret-up': comment}"
         class="fa"></i></strong>
   <div ng-show="comment">
      <textarea ng-model="vac.adminComment" class="form-control" style="background-color: #fff;" name="comment"
                id="comment" placeholder="Комментарий...">{{vac.adminComment}}</textarea>
      <p ng-show="commented" class="bg-success">Комментарий отправлен</p>

      <div class="text-center" style="padding: 10px;">
         <button ng-click="addComment(vac._id, vac.adminComment); adminComment = ''; commented = true;" type="button"
                 class="btn btn-primary active"><i class="fa fa-comment"></i> Отправить
         </button>
      </div>
   </div>
</div>

<p class="text-center">
   <button ng-if="vac.acceptionState != 1 && vac.acceptionState != 2" confirm="{{vac._id}}"
           ng-click="changeState(vac._id, 1, closeThisDialog());" type="button" class="btn btn-success btn-lg active"><i
         class="fa fa-ship"></i> Принять
   </button>
   <button ng-if="vac.acceptionState != 1 && vac.acceptionState != 2" refuse="{{vac._id}}"
           ng-click="changeState(vac._id, 2, closeThisDialog());" type="button" class="btn btn-danger btn-lg active"><i
         class="fa fa-frown-o"></i> Отказать
   </button>
   <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i>
      Назад
   </button>
</p>