@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\000033}}
.wrap {
  padding: 70px 0;
  font-size: 62px;
  color: #fff;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000312}}
input {
  font-weight: 300;
  color: #fff;
  border: 0;
  border-bottom: 1px solid rgba(29, 38, 95, 0.75);
  width: 100%;
  background-color: #303F9F;
  height: 36px;
  font-size: 26px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000323}}
input:focus {
  outline: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000328}}
#button {
  border: 0;
  background: transparent;
  margin-top: 50px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000335}}
button:hover {
  color: rgba(29, 38, 95, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000339}}
.buttonafter:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 100%;
  /*should be set to 100% */
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #009688;
  /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000353}}
.forgot {
  background: #a0a0a0;
  color: #fff;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000359}}
.login {
  background: #a0a0a0;
  color: #fff;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000365}}
.social {
  font-size: 10pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000369}}
.social-links i {
  font-size: 16pt;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  /* Safari */
  transition: color 1s;
  cursor: pointer;
  color: rgba(29, 38, 95, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000380}}
.social-links i:hover {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000389}}
div.error {
  font-size: 10pt;
  color: #fff;
  opacity: 0.7;
  background-color: #FF5722;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\0000396}}
p.sign_up {
  font-size: 10pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\00003100}}
p.sign_up a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\00003104}}
.alert-success {
  background-color: #4caf50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_authorization\.scss}line{font-family:\00003107}}
.alert {
  font-size: 12pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_profile\.scss}line{font-family:\000031}}
div.profile {
  min-height: 350px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75);
  background-color: #fff;
  border: 2px solid #B2DFDB;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_profile\.scss}line{font-family:\0000311}}
.edit {
  background-color: gainsboro;
  margin-top: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_profile\.scss}line{font-family:\0000315}}
.dispatch {
  margin-top: 13px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\000031}}
.page-header {
  padding: 0;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\000035}}
div.jumbotron {
  padding: 10px;
  min-height: 580px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000312}}
.profile {
  padding: 10px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 3px solid rgba(165, 165, 165, 0.6);
  box-shadow: 0px 4px 3px 0px rgba(29, 38, 95, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000321}}
.user_av {
  width: 80px;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000326}}
.user_av:hover {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000329}}
.user_control {
  margin-top: 5px;
  padding-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000333}}
.btn-vac {
  padding-top: 12px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000337}}
.btn-img {
  width: 28px;
  height: auto;
  margin-right: 5px;
  margin-bottom: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000343}}
.history {
  margin-top: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000346}}
.close {
  margin-right: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000353}}
.new-vacation-div {
  margin-bottom: 10px;
  border-top: 3px solid rgba(165, 165, 165, 0.6);
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000358}}
.datepicker-input {
  background-color: #fff;
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000362}}
.view {
  border-top: 3px solid rgba(165, 165, 165, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 15px;
  box-shadow: 0 4px 3px 0 rgba(29, 38, 95, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000369}}
.exit {
  background-color: #0C2171;
  display: block;
  margin-top: 2px;
  font-size: 15px;
  padding: 2px 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000376}}
.welcom {
  background-color: gainsboro;
  padding: 5px 10px 28px 35px;
  margin-top: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000382}}
.container-vac {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000385}}
.newexit {
  margin-top: -26px;
  width: 75px;
  background-color: #0C2171;
  display: block;
  margin-left: 266px;
  font-size: 15px;
  padding-left: 13px;
  padding-right: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_user-main\.scss}line{font-family:\0000396}}
.history {
  background-color: gainsboro;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\000031}}
.clearfix {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\000035}}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000312}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000316}}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000324}}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000333}}
[date-picker-wrapper] {
  position: relative !important;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000338}}
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000344}}
[date-range] [date-picker] .after.before {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3F51B5;
  background-repeat: repeat-x;
  border-color: #3F51B5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f6ab4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000355}}
[date-range] [date-picker] .after.before:hover,
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active,
[date-range] [date-picker] .after.before.disabled,
[date-range] [date-picker] .after.before[disabled] {
  color: #ffffff;
  background-color: #3F51B5;
  *background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000365}}
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active {
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000370}}
[date-picker] {
  padding: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000382}}
[date-picker] table {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000386}}
[date-picker] td,
[date-picker] th {
  width: 20px;
  height: 20px;
  padding: 4px 5px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000398}}
[date-picker] .switch {
  width: 145px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003102}}
[date-picker] span {
  display: block;
  float: left;
  width: 23%;
  height: 26px;
  margin: 1%;
  line-height: 25px;
  cursor: pointer;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003115}}
[date-picker] span:hover {
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003119}}
[date-picker] span.disabled,
[date-picker] span.disabled:hover {
  color: #999999;
  cursor: default;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003126}}
[date-picker] .active,
[date-picker] .now {
  color: #ffffff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3F51B5;
  background-repeat: repeat-x;
  border-color: #3F51B5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003138}}
[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003152}}
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active {
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003159}}
[date-picker] .now {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff9100;
  border-color: #ff9100;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003167}}
[date-picker] .now:hover {
  background-color: #ff9100;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003171}}
[date-picker] .now:active,
[date-picker] .now.active,
[date-picker] .now.disabled,
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: #ff9100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003180}}
[date-picker] .disabled {
  color: #999999 !important;
  cursor: default;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003186}}
[date-picker] [ng-switch-when="year"] span,
[date-picker] [ng-switch-when="month"] span,
[date-picker] [ng-switch-when="minutes"] span {
  height: 54px;
  line-height: 54px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003193}}
[date-picker] [ng-switch-when="date"] td {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003197}}
[date-picker] [ng-switch-when="date"] span {
  width: 100%;
  height: 26px;
  line-height: 26px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003203}}
[date-picker] th:hover,
[date-picker] [ng-switch-when="date"] td span:hover {
  cursor: pointer;
  background: #eeeeee;
}

/* Default view */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_route-animations\.scss}line{font-family:\000032}}
.view {
  position: relative;
  transition: 1000ms;
}

/* First animation*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_route-animations\.scss}line{font-family:\000038}}
.first .view.ng-enter {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_route-animations\.scss}line{font-family:\0000312}}
.first .view.ng-enter.ng-enter-active {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_route-animations\.scss}line{font-family:\0000316}}
.first .view.ng-leave {
  opacity: 0;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_route-animations\.scss}line{font-family:\0000321}}
.first .view.ng-leave.ng-leave-active {
  opacity: 0;
  display: none;
}

@media (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\000032}}
  .month {
    font-size: 12px !important;
    margin-left: 2px !important;
    width: 8% !important;
  }
}
@media (min-width: 992px) and (max-width: 1180px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\000039}}
  .month {
    font-size: 14px !important;
    margin-left: 11px !important;
  }
}
@media (min-width: 1180px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000316}}
  .month {
    font-size: 14px !important;
    margin-left: 12px !important;
  }
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000322}}
  .month {
    font-size: 12px !important;
    margin-left: 7px !important;
    width: 15% !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000330}}
  .nav-text {
    margin-left: 19px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000333}}
  .month-hider {
    margin-top: 5px !important;
    margin-top: 4px !important;
    margin-bottom: 5px !important;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000342}}
  .month {
    display: none !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000346}}
.table-calendar {
  font-size: 9pt;
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000351}}
.vac-stats {
  list-style-type: none;
  margin-top: 2%;
  font-size: 8pt;
  color: #101010;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000358}}
div.auxLine {
  position: absolute;
  right: -5%;
  top: 171px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000364}}
thead {
  background-color: #e3f2fd;
  border-top: 3px solid #a8a8a8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000369}}
div.month-control {
  font-size: 16pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000375}}
tr.control-row {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000381}}
td.rangeEmpty {
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000386}}
td.table-header {
  /* Safari */
  transition: background-color 1s;
  height: 37px;
  max-height: 57px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000393}}
td.table-header:first-of-type {
  width: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\0000397}}
td.table-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003101}}
i {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003106}}
.start {
  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003113}}
.end {
  background-image: url("../img/worker.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003120}}
.vac-parameter {
  /* Safari */
  transition: color 0.5s;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003126}}
.vac-parameter:hover {
  color: #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003130}}
.week-day {
  font-size: 7pt;
  color: #a8a8a8;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003136}}
.week-end {
  color: #fc8c84;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003142}}
i.tooltips {
  position: relative;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003146}}
i.tooltips span {
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #000000;
  height: 60px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003157}}
i.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003168}}
i:hover.tooltips span {
  visibility: visible;
  opacity: 0.6;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003178}}
.tooltips {
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003181}}
.exit {
  background-color: #0C2171;
  padding: 5px 15px;
  color: #FFF;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003187}}
.nav-text.exit-button:hover {
  border: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003191}}
.month-option {
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003195}}
.calendar {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003198}}
.chart {
  shape-rendering: crispEdges;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003202}}
.mini text {
  font: 9px sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003206}}
.main text {
  font: 12px sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003210}}
.month text {
  text-anchor: start;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003214}}
.todayLine {
  stroke: blue;
  stroke-width: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003219}}
.axis line, .axis path {
  stroke: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003223}}
.miniItem {
  stroke-width: 6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003227}}
.future {
  stroke: gray;
  fill: #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003232}}
.past {
  stroke: green;
  fill: lightgreen;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003237}}
.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003242}}
.chart {
  padding-top: 15px;
  height: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003247}}
div[uib-datepicker-popup-wrap] {
  max-width: 272px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003253}}
.employee-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  padding: .5em .5em .5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003260}}
.employee-filter input {
  font-size: .9em;
  height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003266}}
.employee-list {
  margin-top: -.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_calendar\.scss}line{font-family:\00003270}}
.swipe-calendar {
  max-width: 1129px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\000031}}
.month-selector {
  min-height: 40px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\000038}}
.month-hider {
  background-color: #fff;
  border: 2px solid #B2DFDB;
  margin-bottom: 5px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000315}}
.month {
  background-color: #eee;
  margin-left: 14px;
  padding: 1px;
  min-height: 25px;
  font-size: 10pt;
  width: 7%;
  transition: 400ms;
  border: 2px solid #B2DFDB;
  cursor: pointer;
  box-shadow: 0px 10px 5px -7px rgba(29, 38, 95, 0.57);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000330}}
.month:hover {
  font-weight: 800;
  background-color: #fff;
  box-shadow: 0px 13px 5px -7px rgba(29, 38, 95, 0.57);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000337}}
.month.active {
  font-weight: 800;
  background-color: #fff;
  box-shadow: 0px 13px 5px -7px rgba(29, 38, 95, 0.57);
  border: 3px solid #2f96b4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000346}}
.swipe-calendar {
  background-color: #e1e1e1;
  border: 2px solid #B2DFDB;
  min-height: 600px;
  box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000356}}
.swipe-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 600px;
  white-space: nowrap;
  background-color: #fff;
  border-left: 2px solid #B2DFDB;
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000369}}
.swipe-calendar-header {
  font-weight: 600;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000374}}
div.employees {
  padding-top: 43px;
  margin-right: 0;
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000380}}
div.employees div.col-md-12 {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #B2DFDB;
  border-right: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000387}}
div.employees div div {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000390}}
.fixed {
  position: absolute;
  top: 0;
  z-index: 999999999;
  background: #e1e1e1;
  /*margin-left: -5px;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\0000399}}
.fixed strong {
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003102}}
.empl {
  height: 22px;
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003107}}
.month-wrapper {
  white-space: nowrap;
  display: inline-block;
  vertical-align: text-top;
  border-right: 1px dashed tomato;
  margin-left: 5px;
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003117}}
.days-wrapper {
  border: 1px solid #e1e1e1;
  border-right: none;
  border-left: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003123}}
.day {
  width: 18px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003132}}
.range {
  height: 23px;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003142}}
.range-line {
  display: inline;
  background-color: #003bb3;
  position: absolute;
  min-height: 21px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003152}}
.end-two-month {
  border-radius: 10px 0px 0px 10px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003155}}
.range-line-start {
  border-radius: 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003165}}
.range-line-end {
  border-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003175}}
.rangeActive {
  background-color: lightgray;
  cursor: pointer;
  border-right: none;
  /* Safari */
  transition: background-color 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003182}}
.rangeActive:hover {
  background-color: slategray;
  z-index: 99999999999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003187}}
.rangeAccepted {
  background-color: #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003191}}
.rangeAccepted {
  background-color: #009688;
  cursor: pointer;
  /* Safari */
  transition: background-color 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003198}}
.rangeAccepted:hover {
  background-color: #00796B;
  z-index: 99999999999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003203}}
.rangeApproved {
  border: 3px solid #92cf94;
  background-color: #fff;
  cursor: pointer;
  /* Safari */
  transition: background-color 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003210}}
.rangeApproved:hover {
  border: 3px solid  #449d44;
  z-index: 99999999999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003214}}
.rangeDeclined {
  border: 3px solid tomato;
  background-color: #fff;
  cursor: pointer;
  /* Safari */
  transition: background-color 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003221}}
.rangeDeclined:hover {
  border: 3px solid indianred;
  z-index: 99999999999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003226}}
.rangeRefused {
  background-color: #D32F2F;
  cursor: pointer;
  /* Safari */
  transition: background-color 1s;
  border-right: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003233}}
.rangeRefused:hover {
  background-color: #b71c1c;
  z-index: 99999999999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003238}}
.micro-range {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003240}}
.preloader {
  color: #fff;
  font-size: 25pt;
  position: absolute;
  top: 45%;
  left: 49%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003250}}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003258}}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003273}}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003287}}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003325}}
.new-vac-btn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 158px;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_swipe\.scss}line{font-family:\00003336}}
.new-vac-btn a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\000031}}
.clearfix {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\000035}}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000312}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000316}}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000324}}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000333}}
[date-picker-wrapper] {
  position: relative !important;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000338}}
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000344}}
[date-range] [date-picker] .after.before {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3F51B5;
  background-repeat: repeat-x;
  border-color: #3F51B5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f6ab4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000355}}
[date-range] [date-picker] .after.before:hover,
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active,
[date-range] [date-picker] .after.before.disabled,
[date-range] [date-picker] .after.before[disabled] {
  color: #ffffff;
  background-color: #3F51B5;
  *background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000365}}
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active {
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000370}}
[date-picker] {
  padding: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000382}}
[date-picker] table {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000386}}
[date-picker] td,
[date-picker] th {
  width: 20px;
  height: 20px;
  padding: 4px 5px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\0000398}}
[date-picker] .switch {
  width: 145px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003102}}
[date-picker] span {
  display: block;
  float: left;
  width: 23%;
  height: 26px;
  margin: 1%;
  line-height: 25px;
  cursor: pointer;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003115}}
[date-picker] span:hover {
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003119}}
[date-picker] span.disabled,
[date-picker] span.disabled:hover {
  color: #999999;
  cursor: default;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003126}}
[date-picker] .active,
[date-picker] .now {
  color: #ffffff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3F51B5;
  background-repeat: repeat-x;
  border-color: #3F51B5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003138}}
[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003152}}
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active {
  background-color: #3F51B5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003159}}
[date-picker] .now {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff9100;
  border-color: #ff9100;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003167}}
[date-picker] .now:hover {
  background-color: #ff9100;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003171}}
[date-picker] .now:active,
[date-picker] .now.active,
[date-picker] .now.disabled,
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: #ff9100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003180}}
[date-picker] .disabled {
  color: #999999 !important;
  cursor: default;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003186}}
[date-picker] [ng-switch-when="year"] span,
[date-picker] [ng-switch-when="month"] span,
[date-picker] [ng-switch-when="minutes"] span {
  height: 54px;
  line-height: 54px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003193}}
[date-picker] [ng-switch-when="date"] td {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003197}}
[date-picker] [ng-switch-when="date"] span {
  width: 100%;
  height: 26px;
  line-height: 26px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/_datepicker\.scss}line{font-family:\00003203}}
[date-picker] th:hover,
[date-picker] [ng-switch-when="date"] td span:hover {
  cursor: pointer;
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000317}}
body {
  background-color: #303F9F;
  font-family: 'Roboto', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000322}}
.range-control {
  margin-bottom: 10px;
  color: #fff;
  padding-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000327}}
.range-control a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000333}}
.admin-header .range-control {
  height: 65px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000338}}
.error {
  border: 1px solid #FF5722 !important;
  padding: 7px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000344}}
.admin-email input {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000348}}
.exit-button {
  float: right;
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000353}}
.alert {
  padding: 5px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000357}}
.position {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000376}}
.popover {
  width: 232px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000380}}
.exit-button:hover {
  border: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000384}}
input.form-control,
textarea {
  padding-left: 10px !important;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000390}}
textarea {
  max-height: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000394}}
a.navbar-brand {
  font-size: 22pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\0000398}}
.fa-sun-o {
  color: #FFC107;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003102}}
.fashion-bg {
  position: absolute;
  background-color: #3F51B5;
  min-width: 100%;
  min-height: 70px;
  z-index: -999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003111}}
.main {
  font-size: 10pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003114}}
.main a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003122}}
.year-control {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003126}}
.month-control {
  border-bottom: 3px solid #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003130}}
.year-fix {
  font-size: 18pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003134}}
.sort-calendar {
  background-color: #fff;
  font-stretch: condensed;
  font-weight: 200;
  border: 4px solid #B2DFDB;
  border-bottom: none;
  padding: 5px;
  text-align: center;
  font-size: 12pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003145}}
.settings {
  background-color: #fff;
  font-stretch: condensed;
  font-weight: 200;
  border: 4px solid #B2DFDB;
  padding: 5px;
  font-size: 12pt;
  box-shadow: 0 4px 0 0 rgba(29, 38, 95, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003155}}
.date-pick i {
  transition: color 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003159}}
.date-pick i:hover {
  color: #009688;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003164}}
.table-calendar a {
  font-size: 10pt;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003169}}
.table-calendar {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border: 2px solid #e1e1e1;
  border-top: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003176}}
.nav-text {
  font-size: 12pt;
  transition: border 1s;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003181}}
.nav-text:hover {
  border-bottom: 3px solid #303F9F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003188}}
.nav-list span + span > a {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003192}}
.nav-list .nav-text {
  display: inline-block;
  margin-left: 10px;
  height: 33px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003197}}
.nav-list .nav-text a {
  display: block;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003202}}
.nav-list .nav-text .user-email {
  text-transform: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003207}}
.nav-list .exit-button a {
  padding: 3px 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003213}}
.date-pick {
  font-size: 14pt;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003218}}
footer {
  color: #fff;
  background-color: rgba(29, 38, 95, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003223}}
footer a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003228}}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003233}}
div.link_back {
  background-color: #536DFE;
  opacity: 0.7;
  display: inline-block;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin: 10px 0 0 10px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003244}}
div.link_back a {
  font-size: 10pt;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003249}}
.new-mail {
  width: 85%;
  margin: 0 auto;
  padding: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003255}}
.settings-input {
  background-color: #fff;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003260}}
span i.fa-times {
  color: tomato;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003264}}
.disable_tr {
  background-color: #e7e7e7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003268}}
.comment-div {
  padding: 5px;
  background-color: #e1e1e8;
  margin-bottom: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003276}}
.tooltip-inner {
  background-color: #536DFE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003280}}
.tooltip.right .tooltip-arrow {
  border-right-color: #536DFE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003284}}
.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003289}}
.comment {
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003293}}
.textcom {
  word-break: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003297}}
.textareacom {
  display: block;
  width: 273px;
  word-break: break-all;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003303}}
.container-vac {
  background-color: #fff;
  border: 4px solid #B2DFDB;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003309}}
.error_messages {
  color: #f3242e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003313}}
.success_message {
  color: #449d44;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003317}}
.logo {
  width: 290px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003321}}
.logo .navbar-brand {
  padding: 0;
  text-transform: capitalize;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003327}}
.header-nav-list {
  margin-left: 320px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003332}}
.select-date-wrapper .form-control {
  margin-bottom: 20px;
  color: #000;
  padding-left: 10px;
  width: auto;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user\/vacation_frontend\/app\/styles\/main\.scss}line{font-family:\00003346}}
  .container-vac {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
