//== Alerts
//
//## Define alert colors, border radius, and padding.
@import "states";
@import "components";

$alert-padding:                15px;
$alert-border-radius:          $border-radius-base;
$alert-link-font-weight:       bold;

$alert-success-bg:             $state-success-bg;
$alert-success-text:           $state-success-text;
$alert-success-border:         $state-success-border;

$alert-info-bg:                $state-info-bg;
$alert-info-text:              $state-info-text;
$alert-info-border:            $state-info-border;

$alert-warning-bg:             $state-warning-bg;
$alert-warning-text:           $state-warning-text;
$alert-warning-border:         $state-warning-border;

$alert-danger-bg:              $state-danger-bg;
$alert-danger-text:            $state-danger-text;
$alert-danger-border:          $state-danger-border;
