//== Breadcrumbs
//
//##
@import "colors";

$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:              #ccc;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:        $gray-light;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/";
