//== Labels
//
//##

@import "colors";
@import "buttons";

//** Default label background color
$label-default-bg:             $btn-default-bg;
//** Primary label background color
$label-primary-bg:             $brand-primary;
//** Success label background color
$label-success-bg:             $brand-success;
//** Info label background color
$label-info-bg:                $brand-info;
//** Warning label background color
$label-warning-bg:             $brand-warning;
//** Danger label background color
$label-danger-bg:              $brand-danger;

//** Default label text color
$label-color:                 #fff;
//** Default text color of a linked label
$label-link-hover-color:      #fff;
