//== Navs
//
//##

@import "colors";
@import "components";

//=== Shared nav styles
$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         lighten( $body-bg, 10%);

$nav-disabled-link-color:                    $gray-light;
$nav-disabled-link-hover-color:              $gray-light;

//== Tabs
$nav-tabs-border-color:                     darken( $gray-darker, 5%);

$nav-tabs-link-hover-border-color:          darken( $gray-darker, 5%);

$nav-tabs-active-link-hover-bg:             lighten( $body-bg, 10%);
$nav-tabs-active-link-hover-color:          #fff;
$nav-tabs-active-link-hover-border-color:   darken( $gray-darker, 5%);

$nav-tabs-justified-link-border-color:             $nav-tabs-border-color;
$nav-tabs-justified-active-link-border-color:      $body-bg;

//== Pills
$nav-pills-border-radius:                    $border-radius-base;
$nav-pills-active-link-hover-bg:             $component-active-bg;
$nav-pills-active-link-hover-color:          $component-active-color;
