//== Navbar
//
//##

@import "colors";
@import "typography";
@import "components";
@import "grid";

// Basics of a navbar
$navbar-height:                    45px;
$navbar-margin-bottom:              $line-height-computed;
$navbar-border-radius:              $border-radius-base;
$navbar-padding-horizontal:        floor(( $grid-gutter-width / 2));
$navbar-padding-vertical:          (( $navbar-height -  $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:              $text-color;
$navbar-default-bg:                 $gray-dark;
$navbar-default-border:            darken( $navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                 $text-color;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             darken( $navbar-default-bg, 8%);
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            darken( $navbar-default-bg, 8%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:                $navbar-default-link-color;
$navbar-default-brand-hover-color:         #fff;
$navbar-default-brand-hover-bg:            none;

// Navbar toggle
$navbar-default-toggle-hover-bg:           darken( $navbar-default-bg, 8%);
$navbar-default-toggle-icon-bar-bg:         $text-color;
$navbar-default-toggle-border-color:       darken( $navbar-default-bg, 8%);


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      #ccc;
$navbar-inverse-bg:                          $brand-primary;
$navbar-inverse-border:                     darken( $navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 #ccc;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              darken( $navbar-inverse-bg, 12%);
$navbar-inverse-link-active-color:           $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken( $navbar-inverse-bg, 12%);
$navbar-inverse-link-disabled-color:        #ccc;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                 $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             none;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            darken( $navbar-inverse-bg, 12%);
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        darken( $navbar-inverse-bg, 12%);
