//== Pagination
//
//##

@import "buttons";

$pagination-color:                     $link-color;
$pagination-bg:                        $btn-default-bg;
$pagination-border:                    rgba(0, 0, 0, 0.6);

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-darker;
$pagination-hover-border:              rgba(0, 0, 0, 0.6);

$pagination-active-color:              #fff;
$pagination-active-bg:                 darken($pagination-bg, 10%);
$pagination-active-border:             rgba(0, 0, 0, 0.6);

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               $gray-dark;
$pagination-disabled-border:           rgba(0, 0, 0, 0.6);


//== Pager
//
//##

$pager-bg:                             $pagination-bg;
$pager-border:                         $pagination-border;
$pager-border-radius:                  15px;

$pager-hover-bg:                       $pagination-hover-bg;

$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;

$pager-disabled-color:                 $gray-light;
