//== Thumbnails
//
//##

@import "wells";
@import "components";
@import "colors";

//** Padding around the thumbnail image
$thumbnail-padding:           4px;
//** Thumbnail background color
$thumbnail-bg:                 $well-bg;
//** Thumbnail border color
$thumbnail-border:             $well-border;
//** Thumbnail border radius
$thumbnail-border-radius:      $border-radius-base;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:      $text-color;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px;
