<div ng-include src="'views/user/header.html'"></div>
<div class="jumbotron">
    <div class="container user_control">
        <div class="row">

            <div class="col-md-6">

                <a href="#/user/newVacation/">
                    <button class="btn btn-lg btn-warning btn-vac">
                        <img src="images/beach.png" class="btn-img" alt=""/>
                        Новая заявка
                    </button>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/profile/edit/">
                    <button class="btn btn-lg btn-success btn-vac">
                        <img src="images/settings.png" class="btn-img" alt=""/>
                        Редактировать профиль
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container edit">
        <h4>Ваши данные:</h4>

        <form name="myForm" ng-submit="updateUser(myForm.$valid)" validate-profile id="ProfileForm"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="first_name">Фамилия</label>
                <input id="first_name" ng-model="first_name" name="first_name" placeholder="Фамилия..." type="text"
                       class="datepicker-input form-control" required maxlength="30" />
            </div>
            <div class="form-group">
                <label for="last_name">Имя</label>
                <input id="last_name" ng-model="last_name" name="last_name" placeholder="Имя..." type="text"
                       class="datepicker-input form-control" required>
            </div>
            <!--<div class="form-group">

                <label>Должность</label>
                <select name="rank" ng-model="rank" class="form-control position">
                    <option value="" ></option>
                    <option value="0" >Разработчик</option>
                </select>

            </div>-->
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="newEmail" ng-model="newEmail" class="datepicker-input form-control"
                       ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required
                       placeholder="Email...">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg dispatch" ng-disabled="myForm.$pristine">Отправить</button>
            </div>
        </form>
    </div>
</div>
</div>

</div>
