<div class="container" ng-controller="UserHeaderCtrl">
   <div class="main">
      <div class="range-control">
         <div class="logo">
            <a class="navbar-brand" href="#/user/">
               <i class="fa fa-sun-o"></i> vacation control
            </a>
         </div>

         <div class="nav-list header-nav-list">
            <span class="nav-text" data-test="{{ user }}">
               <a class="user-email" href="javascript:void(0)">
                  {{ user.first_name }} {{ user.last_name }} | {{ user.email }}
               </a>
            </span>

            <span class="nav-text">
               <a href="#/user/history/" class="uservacation">ВАШИ ЗАЯВКИ</a>
            </span>

            <div class="nav-text exit-button">
               <a href="" ng-click="logout()" class="exit">Выйти</a>
            </div>
         </div>
      </div>
   </div>
</div>
