<div ng-include src="'views/user/header.html'"></div>
<div class="jumbotron">
   <div class="container">
      <div class="row user_control">
         <div class="col-md-6">
            <a href="#/user/newVacation/">
               <button class="btn btn-lg btn-warning btn-vac">
                  <img src="images/beach.png" class="btn-img" alt=""/>
                  Новая заявка
               </button>
            </a>
         </div>

         <div class="col-md-6">
            <a href="#/profile/edit/">
               <button class="btn btn-lg btn-success btn-vac">
                  <img src="images/settings.png" class="btn-img" alt=""/>
                  Редактировать профиль
               </button>
            </a>
         </div>
      </div>

      <div class="container-vac">
         <form name="vacationForm" ng-submit="showResult()">
            <div class="text-center">
               <h4>Новая заявка</h4>
            </div>
            <div class="new-vacation-div">

               <input type="text"
                      class="datepicker-input form-control startInput"
                      ng-model="range.start"
                      uib-datepicker-popup="{{format}}"
                      datepicker-options="options_first"
                      is-open="popup1.opened"
                      ng-click="open1()"
                      datepicker-append-to-body="true"
                      show-button-bar="false"
                      />

            </div>

            <div class="new-vacation-div">
               <input type="text"
                      class="datepicker-input form-control startInput"
                      ng-model="range.end"
                      uib-datepicker-popup="{{format}}"
                      datepicker-options="options_second"
                      is-open="popup2.opened"
                      ng-click="open2()"
                      datepicker-append-to-body="true"
                      show-button-bar="false"
                     />
            </div>

            <div class="new-vacation-div">
                <textarea placeholder="Комментарий" class="form-control datepicker-input"
                             ng-model="vacation.comment_user"></textarea>
            </div>

            <div ng-show="errors.length > 0" class="error_messages">
               <h4 ng-repeat="error in errors">{{error}}</h4>
            </div>

            <h4 class="success_message">Доступно {{ 14 - daysNumberLeft }} дней отпуска.</h4>
            <h4 ng-show="daysNumber > 0 && !errors.length > 0" >Заявка на {{daysNumber}} дней отпуска.</h4>

            <div class="text-center">
               <button ng-disabled="SubmitForm" id="addVac" type="submit" class="btn btn-success btn-lg">Отправить
               </button>
            </div>
         </form>
      </div>
   </div>
</div>