<div class="map-navbar" ng-include="'views/navbar.html'"></div>
<div class="container configuration-block">
	<div class="row">
		<div class="col-md-12">
			<h1>Data configuration for {{userName}}</h1>
			<div class="col-md-4">
        <h3>Languages</h3>
        <ul>
        	<li ng-repeat="lang in languages">{{ getLanguagesName(lang) }}</li>
        </ul>

        <h3>Topics</h3>
        <ul>
        	<li ng-repeat="(sc_id, value) in topics('commodity')">{{ value.displayName }}</li>
        </ul>

        <h3>Indexes</h3>
        <ul>
        	<li ng-repeat="(sc_id, value) in getObjects('index')">{{ value.display_name }}</li>
        </ul>

        <h3>Countries</h3>
        <ul>
        	<li ng-repeat="(sc_id, value) in getObjects('country')">{{ value.display_name }}</li>
        </ul>
			</div>
			<div class="col-md-4">
				<h3>Concepts</h3>
        <ul>
        	<li ng-repeat="(sc_id, name) in argumentConcepts">{{ getArgumentConceptName(sc_id) }}</li>
        </ul>

        <h3>Commodities</h3>
        <ul>
        	<li ng-repeat="(sc_id, value) in getObjects('commodity')">{{ value.display_name }}</li>
        </ul>
			</div>
			<div class="col-md-4">
				<h3>Companies</h3>
        <ul>
        	<li ng-repeat="(sc_id, value) in getObjects('company')">{{ value.display_name }}</li>
        </ul>
			</div>
		</div>
	</div>
</div>
