<div class="link_back"><a href="#/login"><i class="fa fa-long-arrow-left">  Назад</i></a></div>
<div class='wrap'>
  Регистрация.
    <div class="alert alert-danger" role="alert" ng-if="error!=null">{{ error }}</div>

    <form class="form-signup" role="form" name="loginForm" id="form-signup" ng-submit="registration(loginForm.$valid)">
        <!--<input type='text' id='name_surname' placeholder='Name, Surname...'>-->
        <input type='text' name="username" id='username' placeholder='Email...' ng-model="email"  autocomplete="off">
        <input type='password'  name="password" id='password' placeholder='******' ng-model="password"  autocomplete="off">

    <div class="text-center social">
       
    </div>
    <button id="button" type="submit" class="btn btn-lg active"><i class="fa fa-sign-in"></i> Зарегистрироватся</button>
    </form>
</div>